@use "base";
@use "abstracts" as var;
@use "layouts";
@use "components";

body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: none;

  &.noscroll {
    overflow: hidden;
  }
}

#wrapper {
  background: transparent !important;
}

#custom-text {
  padding-block: 6rem 4.6rem;

  h2 {
    font-size: 4.6rem;
    color: black;
    font-weight: 400;
    font-family: var.$gallery;
    text-align: center;
    margin-bottom: 2.8rem;
    text-transform: initial;
  }

  p {
    color: var.$gray;
    font-size: 1.8rem;
    text-align: center;
    font-family: var.$avenirLight;
    font-weight: var.$light;
    max-width: 780px;
    margin: auto;
  }
}

.col-md-3 {
  width: 0 !important;
  float: unset !important;
}
