@use "../abstracts" as var;

#content-wrapper {
  width: 100%;
  float: unset;
  padding: 0;
  pointer-events: none;
}

#main {
  pointer-events: all;
}

.contact-rich {
  display: none !important;
}

.custom__contact-form {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 2rem;
}

.form-title {
  h1 {
    font-size: 4.6rem;
    color: black;
    text-transform: initial;
    font-family: var.$gallery;
    font-weight: 400;
    margin-bottom: 2.4rem;
    display: flow-root;
  }

  strong {
    color: var.$gray;
    font-size: 1.8rem;
    font-family: var.$avenirRegular;
    font-weight: var.$black;
    text-align: left;
    display: flow-root;
  }
}

.custom__form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var.$mediumOrange;
  border-radius: 9px !important;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 75%;
  padding: 2.9rem 5.2rem;

  @include var.breakpoint(tablet) {
    max-width: 95%;
  }

  @include var.breakpoint(mobile) {
    max-width: 100%;
  }

  @include var.breakpoint(mini) {
    padding: 2.9rem 2.2rem;
  }

  .form-group {
    display: grid;
    grid-template-columns: 147px 1fr;
    place-items: center;
    width: 100%;
    gap: 1rem;

    @include var.breakpoint(mobile) {
      grid-template-columns: 1fr;
    }

    label {
      font-size: 1.8rem;
      justify-self: start;
      color: white;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      text-align: left;

      @include var.breakpoint(mobile) {
        text-align: center;
        justify-self: center;
      }
    }

    .bootstrap-filestyle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .group-span-filestyle {
        width: auto;
      }

      label.btn {
        margin: 0;
        margin-top: 1rem;
        font-size: 1.6rem;
        border-radius: 10px;
        background: var.$lightOrange;
        font-family: var.$avenirRegular;
        font-weight: var.$black;
        padding: 1rem 2rem;
        text-transform: initial;
        transition: 0.3s ease-in-out;
        color: var.$mediumOrange;
        border: 1px solid var.$lightOrange;

        &:hover {
          background: var.$mediumOrange;
          color: white;
        }
      }
    }

    select {
      min-height: 55px;
    }

    input,
    select,
    textarea {
      background: white;
      border: none;
      border-radius: 10px !important;
      padding: 1.6rem 1.8rem;
      font-size: 1.8rem;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      color: var.$gray;
    }
  }
}

.custom__form-footer {
  margin: 0 auto;
  margin-top: 3rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    font-size: 2.7rem;
    font-family: var.$avenirLight;
    font-weight: var.$light;
    color: white;
    background: var.$mediumOrange;
    border: 1px solid var.$mediumOrange;
    border-radius: 10px;
    padding: 1.9rem 6rem;
    transition: 0.3s ease-in-out;

    &:hover {
      background: white;
      color: var.$mediumOrange;
    }
  }
}
