@use "../abstracts" as var;

.large-container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-commu {
  background: var.$lightOrange;
  width: 100%;
  padding-block: 5.2rem 8rem;
  margin-top: 0.4rem;

  h2 {
    font-size: 4rem;
    font-family: var.$gallery;
    font-weight: 400;
    text-align: center;
  }

  .subtitle {
    margin-top: 1.4rem;
    font-size: 1.8rem;
    font-family: var.$avenirLight;
    font-weight: var.$light;
    text-align: center;
    max-width: 780px;
    margin-inline: auto;
    color: var.$gray;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.2rem;
    justify-items: center;
    align-items: start;
    margin-top: 2rem;

    .product-list-reviews {
      display: none !important;
    }

    @include var.breakpoint(laptop) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include var.breakpoint(mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .thumbnail-container {
    background: transparent !important;

    &:hover .product-description::after {
      box-shadow: none !important;
      border: none !important;
      border-top: none !important;
      content: unset !important;
      width: 0 !important;
      opacity: 0 !important;
      display: none !important;
    }
  }

  .thumbnail-top {
    background: white;
    padding: 2rem;
    border-radius: 37px;
    position: relative;
  }

  form.custom-add-to-cart {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 5%;
    right: 5%;

    .btn-add-to-cart-custom {
      background: transparent;
      border: none;
      width: fit-content;
      height: fit-content;
    }
  }

  .flags {
    position: absolute;
    bottom: 5%;
    right: 8%;

    li {
      font-size: 1.7rem;
      font-family: var.$gallery;
      font-weight: 400;

      &.new {
        color: var.$darkOrange;
      }
    }
  }

  .border-product {
    background: transparent;
    border: 1px solid white;
    border-radius: 38px;
    transition: 0.3s ease-in-out;

    &:hover {
      background: white;
    }
  }

  .product-description {
    background: transparent;
    display: flow-root;
    padding: 1.8rem;

    h3,
    h2 {
      font-size: 1.9rem !important;
      font-family: var.$avenirRegular;
      font-weight: var.$normal;
      color: var.$gray;
      text-align: left;
      max-width: 259px;
    }
  }

  .wishlist-button-add {
    right: unset !important;
    top: 5% !important;
    left: 5% !important;
    box-shadow: none !important;
    padding: 1rem;
    font-weight: 400;

    i {
      font-weight: 400;
    }
  }

  .regular-price {
    font-size: 2rem;
    font-family: var.$avenirRegular;
    font-weight: var.$black;
    color: var.$mediumOrange;
    text-decoration: line-through;
    text-align: center;
    margin-right: 1.7rem;
  }

  .price {
    font-size: 3.2rem;
    color: var.$gray;
    font-family: var.$avenirRegular;
    font-weight: var.$black;
    text-align: center;
  }
}
