@use "../abstracts" as var;

.custom-product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: min(1000px, 95%);

  &.search-part {
    margin: 0 auto;
  }

  @include var.breakpoint(1333px) {
    margin: 0 auto;
  }

  .custom-product-list__header {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    align-items: start;
    background: var.$lightOrange;
    border-radius: 18px;
    padding: 3.5rem 4rem;
    margin-bottom: 2rem;

    p {
      font-size: 1.8rem;
      color: var.$gray;
      font-weight: var.$light;
      font-family: var.$avenirLight;
    }
  }

  #products {
    min-width: 100%;

    .products.row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 4.4rem;
      row-gap: 6.2rem;
      margin-inline: 0 !important;

      .product.js-product {
        width: 100%;
        padding: 0;

        .thumbnail-container {
          width: 100%;
        }
      }

      @include var.breakpoint(mobile) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.2rem;
        column-gap: 0;
      }

      @include var.breakpoint(mini) {
        grid-template-columns: 1fr;
      }
    }

    .top-commu {
      background: transparent;
      padding: 0;

      .border-product {
        border: 1px solid var.$lightOrange;
        background: var.$lightOrange;
        border-radius: 38px;
        transition: 0.3s ease-in-out;

        &:hover {
          background: white;
        }
      }

      h2 a {
        font-size: 1.9rem !important;
        font-family: "Avenir LT 65", sans-serif;
        font-weight: 500;
        color: var.$gray;
        text-align: left;
        display: block;
        max-width: 259px;
      }

      .products {
        @include var.breakpoint(767px) {
          align-items: center;
          justify-content: center;
          margin: 0 auto;

          .product {
            width: auto !important;
          }
        }
      }
    }
  }
}

.custom__product-selection {
  display: flex;
  justify-content: end;
  align-items: center;

  .sort-by__container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .custom__sort-by-text.sort-by {
      font-size: 1.8rem;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      color: var.$gray;
      margin-right: 0.9rem;
      margin-left: 0;
      margin-top: 0.8rem;
    }
  }

  .custom__button-dropdown {
    border: 1px solid var.$gray;
    border-radius: 10px;
    padding: 1rem 3.5rem 1rem 2rem;
    font-size: 1.4rem;
    font-weight: var.$light;
    font-family: var.$avenirLight;
    position: relative;

    .material-icons {
      position: absolute;
      right: 7%;
      color: var.$mediumOrange;
      font-weight: 100;
      width: 10px;
      height: 5px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .dropdown-menu {
    background: var.$lightOrange;
    border-radius: 10px;

    a {
      color: var.$gray;
      font-size: 1.4rem;
      font-family: var.$avenirRegular;
      font-weight: var.$normal;
      border-radius: 10px;

      &:hover {
        background: var.$mediumOrange;
        color: white;
      }
    }
  }
}

.custom__tree {
  max-width: 70%;
  margin: 0 auto;

  @include var.breakpoint(tablet) {
    margin: 0 0 0 2rem;
  }

  .current-category {
    font-size: 4.6rem;
    color: black;
    font-weight: 400;
    font-family: var.$gallery;
    text-decoration: none;
    text-transform: initial;
    margin-bottom: 10rem;
    display: flow-root;

    @include var.breakpoint(tablet) {
      margin-bottom: 2rem;
    }

    @include var.breakpoint(767px) {
      text-align: center;
    }
  }

  h2 {
    font-size: 3rem;
    font-weight: var.$black;
    font-family: var.$avenirRegular;
    color: var.$mediumOrange;
    margin-bottom: 1.1rem;
    display: flow-root;
    transition: 0.3s ease-in-out;

    @include var.breakpoint(767px) {
      text-align: center;
      cursor: pointer;

      &:hover {
        color: var.$gray;
      }
    }
  }

  .category-sub-menu__container {
    @include var.breakpoint(767px) {
      position: relative;
    }
  }

  .category-sub-menu__container .category-sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 1rem;

    @include var.breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-left: 0;
      gap: 2rem;
    }

    @include var.breakpoint(767px) {
      align-items: center;
      flex-direction: column;
      margin-left: 0;
      position: absolute;
      transform: translateX(250%);
      inset: 0;
      transition: 0.5s ease-in-out;
      top: 25%;
      height: fit-content;

      &.show {
        transform: translateY(0);
      }
    }

    a {
      font-size: 1.8rem;
      font-weight: var.$light !important;
      font-family: var.$avenirLight;
      color: var.$gray;
      transition: 0.3s ease-in-out;

      &:hover {
        color: var.$mediumOrange;
        text-decoration: none;
      }

      @include var.breakpoint(tablet) {
        background: var.$mediumOrange;
        color: white;
        border-radius: 10px;
        border: 1px solid var.$mediumOrange;
        padding: 1rem 2rem;

        &:hover {
          background: white;
        }
      }

      @include var.breakpoint(767px) {
        text-align: center;
      }
    }
  }
}

#left-column.col-md-3 {
  @include var.breakpoint(tablet) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  @include var.breakpoint(767px) {
    align-items: center;
  }
}
