@use "../abstracts" as var;

.custom-product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 95%;

  @include var.breakpoint(767px) {
    margin: 0 auto;
  }

  .custom-product-list__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var.$lightOrange;
    border-radius: 18px;
    padding: 3.5rem 4rem 2rem 4rem;
    margin-bottom: 2rem;

    p {
      font-size: 1.8rem;
      color: var.$gray;
      font-weight: 300;
      font-family: var.$avenirLight;
    }
  }

  #products {
    min-width: 100%;

    .top-commu {
      background: transparent;
      padding: 0;

      .border-product {
        border: 1px solid var.$lightOrange;
        background: var.$lightOrange;
        border-radius: 38px;
      }

      h2 a {
        font-size: 1.9rem !important;
        font-family: "Avenir LT 65", sans-serif;
        font-weight: 500;
        color: var.$gray;
        text-align: left;
        display: block;
        max-width: 259px;
      }

      .products {
        @include var.breakpoint(767px) {
          align-items: center;
          justify-content: center;
          margin: 0 auto;

          .product {
            width: auto !important;
          }
        }
      }
    }
  }
}

.custom__product-selection {
  display: flex;
  justify-content: end;
  align-items: center;

  .sort-by__container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .custom__sort-by-text.sort-by {
      font-size: 1.8rem;
      font-weight: 300;
      font-family: var.$avenirLight;
      color: var.$gray;
      margin-right: 0.9rem;
      margin-left: 0;
      margin-top: 0.8rem;
    }
  }

  .custom__button-dropdown {
    border: 1px solid var.$gray;
    border-radius: 10px;
    padding: 1rem 3.5rem 0 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: var.$avenirLight;
    position: relative;

    .material-icons {
      position: absolute;
      transform: rotate(90deg);
      right: 3%;
      color: var.$mediumOrange;
      font-weight: 100;
    }
  }

  .dropdown-menu {
    background: var.$lightOrange;
    border-radius: 10px;

    a {
      color: var.$gray;
      font-size: 1.4rem;
      font-family: var.$avenirRegular;
      font-weight: 400;
      border-radius: 10px;

      &:hover {
        background: var.$mediumOrange;
        color: white;
      }
    }
  }
}

.custom__tree {
  max-width: 70%;
  margin: 0 auto;

  .current-category {
    font-size: 4.6rem;
    color: black;
    font-weight: 400;
    font-family: var.$gallery;
    text-decoration: none;
    text-transform: initial;
    margin-bottom: 10rem;
    display: flow-root;

    @include var.breakpoint(767px) {
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  h2 {
    font-size: 3rem;
    font-weight: 900;
    font-family: var.$avenirRegular;
    color: var.$mediumOrange;
    margin-bottom: 1.1rem;
    display: flow-root;

    @include var.breakpoint(767px) {
      text-align: center;
    }
  }

  .category-sub-menu__container .category-sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 1rem;

    @include var.breakpoint(767px) {
      align-items: center;
      margin-left: 0;
    }

    a {
      font-size: 1.8rem;
      font-weight: 300;
      font-family: var.$avenirLight;
      color: var.$gray;
      transition: 0.3s ease-in-out;

      &:hover {
        color: var.$mediumOrange;
      }

      @include var.breakpoint(767px) {
        text-align: center;
      }
    }
  }
}
