@use "../abstracts" as var;

section#main {
  background: white;
}

#product-categories__front .large-container {
  gap: 1.7rem;
}

article.product-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include var.breakpoint(laptop) {
    grid-template-columns: 1fr;
  }

  &:nth-of-type(odd) .product-categories__left-side {
    grid-column: 1;
    grid-row: 1;

    @include var.breakpoint(laptop) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &:nth-of-type(even) .product-categories__left-side {
    grid-column: 2;
    grid-row: 1;

    @include var.breakpoint(laptop) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .product-categories__right-side {
    background: var.$lightOrange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    padding-inline: 5.8rem;
    gap: 3.2rem;
    grid-row: 1;
    position: relative;

    @include var.breakpoint(laptop) {
      padding-block: 5.8rem;
      align-items: center;
      grid-row: 2;
    }
  }

  h2 {
    text-align: start;
    font-size: 4rem;
    font-weight: 400;
    font-family: var.$gallery;
    @include var.breakpoint(laptop) {
      text-align: center;
    }
  }

  p {
    font-size: 1.8rem;
    font-weight: 300;
    font-family: var.$avenirLight;
    color: var.$gray;
    max-width: 408px;
    text-align: start;

    @include var.breakpoint(laptop) {
      text-align: center;
    }
  }

  a {
    font-size: 2rem;
    font-weight: 300;
    font-family: var.$avenirLight;
    color: var.$mediumOrange;
    text-decoration: none;
    padding: 2rem 2rem 1.2rem 2rem;
    border: 1px solid var.$mediumOrange;
    border-radius: 1rem;
    text-align: start;
    transition: 0.3s ease-in-out;

    &:hover {
      background: var.$mediumOrange;
      color: white;
    }

    @include var.breakpoint(laptop) {
      text-align: center;
    }
  }

  .product-categories__leaf-container {
    position: absolute;
    background: url("../img/leaf.svg") no-repeat;
    width: 52px;
    height: 104px;
    top: 0;
    bottom: 0;
    margin-block: auto;
    right: 10%;
    z-index: 2;
    transform: rotateY(180deg);

    @include var.breakpoint(658px) {
      display: none;
    }
  }

  &:nth-of-type(even) .product-categories__right-side {
    align-items: end;

    @include var.breakpoint(laptop) {
      align-items: center;
    }

    h2 {
      text-align: right;
      @include var.breakpoint(laptop) {
        text-align: center;
      }
    }

    p {
      text-align: right;
      @include var.breakpoint(laptop) {
        text-align: center;
      }
    }

    a {
      text-align: right;
      @include var.breakpoint(laptop) {
        text-align: center;
      }
    }

    .product-categories__leaf-container {
      left: 10%;
      right: auto;
      transform: rotate(0);
    }
  }
}

.instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin-top: 6.6rem;

    h2 {
      font-size: 4rem;
      font-family: var.$gallery;
      font-weight: 400;
      text-align: center;
      text-transform: initial;
      color: var.$gray;
    }

    p {
      color: var.$gray;
      font-size: 1.8rem;
      font-family: var.$avenirLight;
      font-weight: 300;
      text-align: center;
    }
  }
}

.benefits {
  margin-top: 4.2rem;

  .large-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .benefits-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7.7rem;
    place-items: center;
    max-width: 1160px;
    background: var.$lightOrange;
    padding: 3.1rem 10.5rem 1.5rem 10.5rem;

    border-top-left-radius: 8.3rem;
    border-top-right-radius: 8.3rem;

    @include var.breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include var.breakpoint(mini) {
      grid-template-columns: 1fr;
      gap: 2.7rem;
    }

    li {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 74px);
      align-items: center;
      justify-items: center;
      gap: 0.7rem;

      p {
        text-align: center;
        color: var.$gray;
        font-size: 1.8rem;
        font-family: var.$avenirLight;
        font-weight: 300;
        line-height: 1;
      }
    }
  }
}

footer.page-footer {
  display: none;
}
