$avenirLight: "Avenir LT std 35", sans-serif;
$avenirRegular: "Avenir LT 65", sans-serif;
$gallery: "Gallery Modern", sans-serif;

$black: 700;
$normal: 500;
$light: 300;

$italic: italic;
$oblique: oblique;

$lightOrange: #e9d7b2;
$mediumOrange: #c09426;
$darkOrange: #f28b4e;
$red: #e30046;
$gray: #464646;
