@use "../abstracts" as var;

.custom-cart {
  max-width: 87%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  justify-items: start;
  column-gap: 6rem;
  align-items: start;
  margin-bottom: 4rem;

  a.product-title-a {
    font-size: 3rem;
    font-family: var.$gallery;
    font-weight: 400;
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    line-height: 1;
    text-align: left;

    &:hover {
      color: var.$mediumOrange;
      text-decoration: none;
    }

    @include var.breakpoint(mobile) {
      font-size: 3rem;
    }
  }

  @include var.breakpoint(laptop) {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    column-gap: 0;
  }

  .cart-item:not(:last-of-type) {
    border-bottom: 1px solid var.$mediumOrange;
  }

  .cart-grid-body,
  .cart-container,
  .cart-overview {
    width: 100%;
  }

  .card-block {
    h1 {
      font-size: 4.6rem;
      font-weight: 400;
      font-family: var.$gallery;
      text-transform: initial;
    }
  }

  .no-items {
    font-size: 1.8rem;
    font-weight: var.$light;
    font-family: var.$avenirLight;
    color: var.$gray;
  }

  .card-block {
    padding: 0;
  }

  .cart-overview {
    padding: 0;
    margin-top: 2rem;
  }

  #continue-shopping__custom {
    background: #fff;
    display: flow-root;
    margin-top: 2rem;
    border: 1px solid var.$mediumOrange;
    color: var.$mediumOrange;
    font-size: 2.7rem;
    font-weight: 300;
    font-family: "Avenir LT std 35", sans-serif;
    padding: 1.7rem 4rem;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    width: fit-content;

    &:hover {
      background: var.$mediumOrange;
      color: #fff;
    }
  }

  .custom-command {
    display: flow-root;
    margin-top: 2rem;
    border: 1px solid var.$mediumOrange;
    color: white;
    background: var.$mediumOrange;
    font-size: 2.7rem;
    font-weight: 300;
    font-family: "Avenir LT std 35", sans-serif;
    padding: 1.7rem 4rem;
    transition: 0.3s ease-in-out;
    border-radius: 10px;

    &:hover {
      background: #fff;
      color: var.$mediumOrange;
      border-color: var.$mediumOrange;
    }

    &.disabled {
      opacity: 0.6;

      &:hover {
        background: var.$mediumOrange;
        color: #fff;
      }
    }
  }

  .cart-summary {
    margin-bottom: 0;
  }

  .product-line-grid-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top-commu .product-description h2.h3 {
  text-align: left;

  a {
    font-size: 1.9rem !important;
    font-family: "Avenir LT 65", sans-serif;
    font-weight: 500;
    color: #464646;
    text-align: left;
    display: flow-root;
    max-width: 259px;
    text-align: left;
  }
}

.custom__product-line-grid {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.1fr 0.1fr;
  justify-items: start;
  align-items: start;
  column-gap: 5rem;
  width: 100%;
  position: relative;

  @include var.breakpoint(1350px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  @include var.breakpoint(mini) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .product-line-grid-left {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2rem;

    @include var.breakpoint(1350px) {
      grid-column: 1 / 4;
      grid-row: 1;
    }

    @include var.breakpoint(mini) {
      grid-column: 1;
    }

    .product-image {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        border-radius: 18px;
        width: 100%;
        background: white;
        border: 1px solid var.$lightOrange;
        position: relative;
        z-index: 1;
      }
    }
  }

  @include var.breakpoint(mobile) {
    align-items: center;
  }

  .custom__product-title {
    display: flex;
    width: fit-content;
    align-items: center;
    position: absolute;
    right: -2%;
    top: 2rem;

    @include var.breakpoint(1483px) {
      right: -4%;
    }

    i {
      color: var.$gray;
    }
  }

  .product-price {
    margin-top: 2rem;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include var.breakpoint(1350px) {
      grid-column: auto;
      grid-row: 2;
    }
  }
  .current-price {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    .regular-price {
      color: var.$mediumOrange;
      font-size: 2rem;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      text-align: left;
      text-decoration: line-through;
    }

    .price,
    .unit-price-cart {
      font-size: 3.2rem;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      color: var.$gray;

      @include var.breakpoint(mobile) {
        font-size: 2.4rem;
      }
    }
  }

  .custom__product-line-info {
    .label {
      font-weight: var.$black;
      font-family: var.$avenirRegular;
    }

    span {
      font-size: 1.8rem;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      color: var.$gray;
    }
  }

  .custom__qty-wrapper {
    margin-top: 2rem;

    .qty {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 2rem;

      input {
        border: 1px solid var.$mediumOrange;
        border-radius: 10px !important;
        width: 50px;
        height: 40px;
        font-size: 1.4rem;
        color: var.$mediumOrange;
        font-weight: var.$black;
        font-family: var.$avenirRegular;
        text-align: center;
      }

      .product-price {
        margin-top: 0;
      }
    }

    .input-group-btn-vertical {
      display: none;
    }
  }
}

.custom__cart-overview .cart-type-items {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.1fr 0.1fr;
  column-gap: 5rem;

  @include var.breakpoint(1350px) {
    display: none;
  }
}

.custom__cart-grid-right {
  width: 100%;
  margin-top: 8rem;
  background: var.$lightOrange;
  padding: 2rem 2rem;
  border-radius: 10px;

  .cart-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;

    .cart-detailed-totals {
      width: 100%;
    }

    #cart-subtotal-shipping {
      margin-block: 3rem;
    }

    .label {
      font-size: 2rem;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      color: var.$gray;
    }

    .value {
      font-size: 2rem;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      color: var.$gray;
    }

    .cart-total {
      padding: 0 !important;
      padding-top: 2rem !important;

      .label {
        font-size: 2.5rem !important;
        font-weight: var.$black !important;
        font-family: var.$avenirRegular;
        color: var.$gray;
      }

      .value {
        font-size: 2.5rem !important;
        font-weight: var.$black !important;
        font-family: var.$avenirRegular;
        color: var.$gray;
      }
    }
  }

  .checkout.cart-detailed-actions {
    margin-top: 3rem;

    a {
      background: var.$mediumOrange;
      display: flow-root;
      margin-top: 2rem;
      border: 1px solid var.$mediumOrange;
      color: white;
      font-size: 2.7rem;
      font-weight: 300;
      font-family: "Avenir LT std 35", sans-serif;
      padding: 1.7rem 4rem;
      transition: 0.3s ease-in-out;
      border-radius: 10px;
      width: fit-content;
      text-transform: initial;

      &:hover {
        background: white;
        color: var.$mediumOrange;
        text-decoration: none;
      }
    }
  }
}

.product-total__custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  span {
    font-size: 1.8rem;
    text-align: center;
    color: var.$gray;
    font-weight: var.$black;
    font-family: var.$avenirRegular;
  }
}
