@use "../abstracts" as var;

#main.product-page .large-container {
  display: grid;
  grid-template-columns: 509px 1fr;
  justify-items: center;
  align-items: start;
  gap: 10.5rem;
  max-width: 85%;
  margin-top: 3.5rem;

  @include var.breakpoint(laptop) {
    grid-template-columns: 1fr;
    gap: 5rem;

    #add-to-cart-or-refresh {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .taille-texte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .product-cover {
    position: relative;
    z-index: 1;
    margin-bottom: 1.1rem;
  }

  .product-cover img {
    border: 1px solid var.$lightOrange;
    border-radius: 38px;
    position: relative;
    z-index: 1;
  }

  .thumb-container img {
    border: 1px solid var.$lightOrange;
    border-radius: 9px;
    cursor: pointer;
    width: 100%;
  }

  .bg-absolute {
    position: absolute;
    background: var.$lightOrange;
    border-radius: 38px;
    height: 296px;
    width: 371px;
    z-index: 0;
    right: -15%;
    bottom: -15%;

    @include var.breakpoint(612px) {
      right: -2%;
    }

    @include var.breakpoint(mini) {
      width: 300px;
      height: 200px;
    }
  }

  .js-qv-mask {
    position: relative;
    z-index: 1;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 1.1rem;

      li {
        width: 63px;
        height: 63px;
      }
    }
  }

  h1 {
    font-size: 3.6rem;
    font-weight: 400;
    font-family: var.$gallery;
    text-align: left;
    color: blakc;
  }

  .product-prices {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5.2rem;

    .product-discount {
      width: fit-content;

      span {
        color: var.$mediumOrange;
        font-size: 2rem;
        font-family: var.$avenirRegular;
        font-weight: var.$black;
        text-decoration: line-through;
      }
    }

    .product-price {
      width: fit-content;

      .current-price {
        width: fit-content;
      }

      .current-price-value {
        color: var.$gray;
        font-size: 3.2rem;
        font-family: var.$avenirRegular;
        font-weight: var.$black;
      }

      .discount {
        display: none;
      }
    }
  }

  .tax-shipping-delivery-label {
    display: none;
  }

  .product-description {
    margin-top: 1.5rem;

    h3 {
      font-size: 1.8rem;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      color: var.$gray;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.8rem;
      font-family: var.$avenirLight;
      font-weight: var.$light;
      color: var.$gray;

      &:not(:first-of-type) {
        display: none;
      }

      &.active {
        display: inline;
      }
    }
  }

  #see-all {
    display: block !important;
    color: var.$mediumOrange;
    font-size: 1.8rem;
    font-weight: var.$light;
    font-family: var.$avenirLight;
    text-align: left;
    margin-top: 0.8rem;
    cursor: pointer;
  }

  .btn-taille {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var.$gray;
      border-radius: 10px;
      padding: 1rem 3.4rem;
      color: var.$gray;
      font-size: 2rem;
      font-family: var.$avenirLight;
      font-weight: var.$light;
      text-align: center;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &.active {
        background: var.$mediumOrange;
        color: white;
        border-color: var.$mediumOrange;
      }
    }
  }

  .taille-texte {
    color: var.$gray;
    font-size: 1.8rem;
    font-family: var.$avenirLight;
    font-weight: var.$light;
    text-align: left;
  }

  .select-to-change {
    display: none !important;
  }

  .color-controller {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;

    li {
      width: 49px;
      height: 49px;
      border-radius: 50%;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;

      input,
      span,
      label {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        margin: auto;
        padding: 0;
        border: none;
      }
    }
  }

  .custom__product-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .custom__qty {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1.4rem;

      @include var.breakpoint(laptop) {
        justify-content: center;
        width: 100%;
      }
    }

    .bootstrap-touchspin-down,
    .bootstrap-touchspin-up {
      display: none !important;
    }

    #quantity_wanted {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 40px;
      border: 1px solid var.$mediumOrange !important;
      border-radius: 10px;
      font-size: 2.4rem;
      color: var.$mediumOrange;
      font-family: var.$avenirRegular;
      font-weight: var.$black;
      text-align: center;
    }

    .quantity-controller {
      border-radius: 50%;
      border: 1px solid var.$mediumOrange;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      span {
        font-size: 3.2rem;
        color: var.$mediumOrange;
        font-family: var.$avenirRegular;
        font-weight: var.$black;
        line-height: 0;
        pointer-events: none;
      }
    }
  }

  .add {
    margin-top: 2.3rem;

    button {
      background: var.$mediumOrange;
      border: 1px solid var.$mediumOrange;
      border-radius: 10px;
      color: white;
      font-size: 2.7rem;
      font-family: var.$avenirLight;
      font-weight: var.$light;
      padding: 1.7rem 4.2rem;
      height: fit-content !important;
      transition: 0.3s ease-in-out;

      @include var.breakpoint(364px) {
        font-size: 2.1rem;
      }

      &:hover {
        background: transparent;
        color: var.$mediumOrange;
      }
    }
  }
  .additional-info-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6.2rem;

    @include var.breakpoint(laptop) {
      justify-content: center;
    }

    @include var.breakpoint(mobile) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.1rem;
    }

    li {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 31px 35px;
      justify-items: center;
      align-items: start;
      gap: 0.6rem;

      img {
        width: 100%;
        height: 100%;
      }

      p {
        display: block;
        font-size: 1.4rem;
        font-weight: var.$light;
        font-family: var.$avenirLight;
        color: var.$gray;
        text-align: center;
        max-width: 115px;
        width: 100%;
      }
    }
  }
}

.utilisation {
  background: var.$lightOrange;
  padding-block: 2.3rem 5.3rem;

  .container-large {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 4rem;
    color: black;
    font-weight: 400;
    font-family: var.$gallery;
    text-transform: initial;
    text-align: center;
    margin-bottom: 2.8rem;
  }

  .utilisation-content {
    width: 100%;

    table,
    tr,
    tbody {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;
      gap: 1.2rem;
    }

    @include var.breakpoint(tablet) {
      tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
      }
    }

    @include var.breakpoint(mobile) {
      tr {
        grid-template-columns: 1fr;
      }
    }

    img {
      width: 216px;
      height: 216px;
      border-radius: 50%;
      margin-bottom: 1.2rem;
    }

    p {
      font-size: 1.8rem;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      color: var.$gray;
      text-align: center;
    }
  }
}

.bottom-product {
  width: 100%;
  margin-top: 1.8rem;

  .container-small {
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include var.breakpoint(mini) {
      max-width: 90%;
    }
  }

  .before-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.9rem;

    img {
      width: 44px;
      height: 44px;
    }
  }

  h2 {
    font-size: 4rem;
    color: black;
    font-weight: 400;
    font-family: var.$gallery;
    text-transform: initial;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 633px;
  }
}

.product-description-bottom {
  display: grid;
  grid-template-columns: 355px 418px;
  gap: 4.4rem;
  justify-items: center;
  align-items: start;

  @include var.breakpoint(858px) {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
  }

  .left {
    border-radius: 38px;
    padding-bottom: 5rem;

    @include var.breakpoint(858px) {
      height: 100%;
      padding: 0;
    }

    img {
      border-radius: 38px;
    }
  }

  .right {
    align-self: end;
    padding-top: 2rem;

    @include var.breakpoint(858px) {
      align-self: center;
      padding: 0;
    }

    p,
    strong {
      font-size: 1.8rem;
      text-align: left;
      color: var.$gray;
    }

    strong {
      font-family: var.$avenirRegular;
      font-weight: var.$black;
      margin-bottom: 4rem;
      display: flow-root;
    }

    p {
      font-family: var.$avenirLight;
      font-weight: var.$light;
    }
  }
}

.entretien {
  margin-top: 3.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var.$mediumOrange;
  border-bottom: 1px solid var.$mediumOrange;

  h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 3rem;
    font-weight: var.$normal;
    font-family: var.$avenirRegular;
    color: var.$mediumOrange;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    cursor: pointer;

    span {
      border: 1px solid var.$mediumOrange;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#entretien-content {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  display: none;

  &.active {
    display: flex;
  }

  p {
    transition: transform 0.3s ease-in-out;
    font-size: 1.8rem;
    font-family: var.$avenirLight;
    font-weight: var.$light;
    color: var.$gray;
  }

  strong,
  h2,
  h3,
  h4,
  h5,
  h6 {
    transition: transform 0.3s ease-in-out;
    font-size: 1.8rem;
    font-family: var.$avenirRegular;
    font-weight: var.$black;
    color: var.$gray;
  }
}

.comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  .comments-note {
    display: none;
  }

  .row {
    width: 100%;
    margin: 0 !important;
  }

  #product-comments-list-header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;

    .comments-nb {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 3rem;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      color: var.$mediumOrange;
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
      cursor: pointer;

      .material-icons {
        display: none !important;
      }
    }
  }
}

#product-comments-list {
  padding: 0;
}

.product-comment-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  &:not(:last-of-type) {
    border-bottom: 1px solid var.$mediumOrange;
  }

  .comment-buttons {
    display: none !important;
  }

  .comment-infos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: start;
    align-items: center;
    padding: 0;
    min-height: 20px;
    margin-bottom: 1.5rem;

    @include var.breakpoint(422px) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 3rem;
    }

    .comment-author {
      grid-column: 1;
      grid-row: 1;
      font-size: 1.8rem;
      color: var.$gray;
      font-family: var.$avenirRegular;
      font-weight: var.$black;
      justify-self: start;
    }

    .grade-stars {
      grid-column: 2;
      grid-row: 1;
      margin: 0;
      justify-self: start;

      .star {
        background: url(../img/notes.png) no-repeat 0 0 transparent;
        background-position: -24px 0;
      }

      .star-on {
        background: url(../img/notes.png) no-repeat 0 0 transparent;
      }
    }

    .comment-date {
      grid-column: 3;
      grid-row: 1;
      font-size: 1.8rem;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      justify-self: end;

      @include var.breakpoint(422px) {
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
        padding-top: 1rem;
      }
    }
  }
}

#empty-product-comment {
  .material-icons {
    display: none;
  }

  .btn {
    color: white;
    background: var.$mediumOrange;
    border-radius: 10px;
    font-size: 2.7rem;
    font-family: var.$avenirLight;
    border: 1px solid var.$mediumOrange;
    transition: 0.3s ease-in-out;
    box-shadow: none;
    padding: 1.7rem 4.3rem 0.3rem 4.3rem;
    min-height: fit-content;
    height: fit-content;

    &:hover {
      background: transparent;
      color: var.$mediumOrange;
    }
  }
}

#product-comments-list-footer {
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include var.breakpoint(700px) {
    padding: 0;
    justify-content: center;
  }

  .btn {
    color: white;
    background: var.$mediumOrange;
    border-radius: 10px;
    font-size: 2.7rem;
    font-family: var.$avenirLight;
    font-weight: var.$light;
    border: 1px solid var.$mediumOrange;
    transition: 0.3s ease-in-out;
    box-shadow: none;
    padding: 1.7rem 4.3rem;
    min-height: fit-content;
    height: fit-content;

    &:hover {
      background: transparent;
      color: var.$mediumOrange;
    }
  }

  .material-icons {
    display: none;
  }
}

.comment-content {
  padding: 0;

  p {
    font-size: 1.8rem !important;
    font-family: var.$avenirLight;
    font-weight: var.$light;
  }

  h4 {
    font-size: 1.8rem;
    font-family: var.$avenirRegular;
    font-weight: var.$black;
    color: var.$gray;
    margin-bottom: 0.6rem;
  }
}

.benefits.product-benefits .large-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
